.footer {
    background-color: #0D0D0D;
    text-align: center;
    padding: 3rem 1rem 2rem;
    border-top: 2px solid #1E90FF;
  }

  .links {
    margin: 0 10px; 
    text-decoration: none; 
    color: #333;
  }
